/* style.css */
body{
  background: rgb(250, 240, 230);
  color: black;
  font-size: 12px;
  font-family: 'Playfair Display', serif;
}
h1{
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: lighter;
  font-size: 20px;
}
h2 {
  font-family: Arial;
  color: black;
  font-weight: lighter;
  font-size: 16px;
}
a {
  color: black
  font-size: 6px;
}
a:hover {
  text-decoration: none;
  color: red;
}

#baseline p{
  font-variant: bold;
  color: rgb(132, 46, 27);
}

.brown-title{
  color: brown;
}

.title{
  font-variant: bold;
  color: rgb(132, 46, 27);
  font-size: 28px;
}

.petit{
  font-size: 8px;
}
